.sectionWrapper {
  background-color: var(--surface-primary);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  justify-content: center;
  align-items: center;
  padding: var(--spacing-lg) 278px;
  .heading {
    color: #dfdfdf;
    font-size: var(--text-md);
    margin-bottom: 30px;
  }
}
