.projectCardContainer {
  padding-top: var(--spacing-lg);
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-lg);
}

@media screen and (min-width: 768px) {
  .projectCardContainer {
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: flex-start; 
  }
}
