:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --green: #00ad82;
  --white: #ffffff;
  --black-100: #0f0e16;
  --black-50: #1d1d25;

  --surface-primary: var(--black-100);
  --surface-secondary: var(--black-50);

  --text-primary: var(--white);
  --text-accent: var(--green);

  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-lg: 1.125rem;

  --text-sm: 2rem;
  --text-md: 2.25rem;
  --text-lg: 3rem;

  //Spacing
  --1: 0.5rem;
  --2: 1rem;
  --3: 2rem;
  --4: 2.5rem;
  --spacing-none: 0
  --spacing-sm: var(--1);
  --spacing-md: var(--2);
  --spacing-lg: var(--3);
  --spacing-xl: var(--4);

  //Border radius
  --sm: 0.25rem;
  --md: 0.5rem;
  --lg: 1rem;
  --radius-none: 0;
  --radius-minimal: var(--sm);
  --radius-rounded: var(--md);
  --radius-full: var(--lg);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
