.wrapper {
  padding-top: var(--spacing-md);
  display: flex;
  gap: var(--spacing-lg);
  height: 400px;
  width: 100%;
}

.image {
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  .projectImage {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: var(--radius-full);
  }
}

.content {
  flex: 50%;
  display: flex;
  flex-direction: column;

  .head {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    line-height: 1.5;
    .headRow {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    .title {
      font-size: var(--text-sm);
      font-weight: 600;
    }
    .status {
      background-color: var(--surface-accent);
      color: var(--text-primary);
      font-size: var(--font-sm);
      border-radius: var(--radius-full);
      padding: 4px 16px;
    }
    .description {
      font-size: var(--font-md);
      font-weight: 300;
      overflow: scroll;
    }
  }
  .bottom {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    padding: var(--spacing-md) 0;
    .bottomHead {
      display: flex;
      font-size: var(--font-md);
      gap: var(--spacing-lg);
      color: var(--text-accent);
    }
    .buttonSection {
      display: flex;
      gap: var(--spacing-md);
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    overflow: scroll;
    flex-direction: column;
    height: 100%;
  }
  .image {
    padding: var(--spacing-md) 0;
  }
  .content {
    padding: var(--spacing-md) var(--spacing-lg);
  }
}
