.navbar {
  height: 100px;
  margin: 0 var(--spacing-xl);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--spacing-xxl);
  background-color: var(--surface-primary);
  border-bottom: 1px solid var(--border);
  z-index: 12;

  .logo {
    font-size: var(--text-sm);
    font-weight: 700;
    color: var(--text-primary);
  }
  .ul {
    display: flex;
    list-style: none;
    gap: var(--spacing-xl);
  }
  .li {
    padding: var(--spacing-sm) var(--spacing-sm);
    font-size: var(--font-md);
    &:hover {
      cursor: pointer;
      color: var(--green);
    }
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    height: 80px;
    padding: 0 var(--spacing-xl);

    .ul {
      display: flex;
      list-style: none;
      gap: var(--spacing-md);
    }
  }
}
