.main {
  height: 100vh;
  display: flex;
  .leftSide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .rightSide {
    padding: var(--spacing-xl);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-lg);
    .textContent {
      color: var(--text-primary);
      font-size: var(--text-md);
      .title {
        color: var(--text-accent);
      }
    }
    .buttonSection {
      display: flex;
      gap: var(--spacing-lg);
    }
  }
}
