.main {
  height: calc(100vh - 100px);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-xl);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xxl);
  .textContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-md);
    color: var(--text-primary);
    font-size: var(--text-md);
    .title {
      font-size: var(--text-lg);
      display: inline;
    }
    .title .subText {
      color: var(--text-accent);
    }
  }
  .buttonSection {
    display: flex;
    gap: var(--spacing-lg);
  }
}

.resumePopUpWrapper {
  height: 100%;
  width: 100%;
}
.hireMePopUpWrapper {
  height: 100%;
  width: 100%;
  padding: var(--spacing-xl);
  .hireMeForm {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    .column {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
    .bottom {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
}

@media screen and (max-width: 768px) {
  .main {
    height: 80vh;
  }

  .textContent {
    text-align: center;
  }
}
