.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-sm);
  padding: var(--spacing-md);
  border-radius: var(--radius-full);

  .image {
    border-radius: var(--radius-full);
    padding: var(--spacing-sm);
  }

  .title {
    font-size: var(--font-sm);
  }
}
.hover {
  cursor: pointer;
}
